@import '../../App.scss';

.navbarTop {
	background-color: $secondary-color;
	min-height: 85px;
}
.navbar {
	background-color: $secondary-color !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

// .logo {
// 	width: 13px;
// 	margin: 0;
// }

.navbar a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 15px;
	font-weight: bold;
}

.navbar a:first-child {
	padding-left: 0;
}